body {
    background-color: #1B1D20;
    font-family: "IBMPlexMonoItalic", monospace;
    color: white;
    font-size: 13px;
}

h1 {
    color: white;
    font-family: Helvetica, sans-serif;
}

h2 {
    color: #AA88FF;
}

h3 {
    color: #9A48D0;
}

.color-bold {
    color: #22EE00;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.link {
    color: white;
}

a.link:hover {
    color: #22EE00;
}

.btn {
    color: white;
    background-color: #9A48D0;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 900;
}

.btn:hover {
    color: #9A48D0;
    background-color: white;
}