body {
    background-color: #1B1D20;
    font-family: "IBMPlexMonoItalic", monospace;
    color: white;
    font-size: 15px;
}

h1 {
    color: white;
    font-family: 'Merienda One', cursive;
}

h2, h3 {
    color: #AA88FF;
}

.color-bold {
    color: #22EE00;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.link {
    color: white;
}

a.link:hover {
    color: #22EE00;
}


.btn {
    color: white;
    background-color: #9A48D0;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 900;
}

.btn:hover {
    color: #9A48D0;
    background-color: white;
}

.thumb {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid#22EE00;
}

.thumb:hover {
    border: 3px solid #AA88FF;
}

li {
    padding-top: 10px;
}

li:hover {
    color: #22EE00;
}

.text-size {
    font-size: 15px;
}

.copyright {
    font-size: 13px;
}